body{
    font: arial, helvetica, sans-serif;
}
#container{
    width: 1050px;
    border: 1px solid white;
    margin: 0 auto;
}
#header{
    height: 100px;
    padding: 10px 0;
}
#brand{
    float: left;
}
h1 a{
    font-size: 50px;
    font-weight: 100px;
    color: #861BBF;
    text-decoration: none;
}
#searchbox{
    float: right;
    background: linear-gradient(#ccf7e3, #69f1d4);
    width: 400px;
    height: 50px;
    padding: 20px 20px 0 20px;
    margin-top: 20px;
}
.text{
    float: left;
    width: 200px;
    padding: 5px;
    font-size: 15px;
    color: green;
    background: white url(search.png) right center no-repeat;
    border: 1px solid #9acfb7;
}
.submit{
    float: right;
    padding: 5px;
    font-weight: bold;
    color: white;
    background: #A751D6;
    font-size: 15px;
}
.clear{
    clear: both;
}
#menu{
    height: 70px;
    background: linear-gradient(#b5eed4, #46c0e6);
    padding: 7px 0;
}
ul{
    list-style: none;
}
#menu ul li{
    float: left;
    padding: 0 10px;
    height: 30px;
    border-right: 1px solid #5d12e7;
}
#menu ul li:last-child{
    border-right: none;
}
#menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color: #5d12e7;
    line-height: 30px;
    -webkit-transition: font-size 0.5s ease;
    -moz-transition: font-size 0.5s ease ;
    -o-transition: font-size 0.5s ease;
    -ms-transition: font-size 0.5s ease;
    transition: font-size 0.5s ease;
}
#menu ul li a:hover, #mean ul li a.active{
    font-size: 20px;
    font-weight: bold;
    color: #b314db;
}
#introduction{
    background: linear-gradient(#d3f1e4, #3ec2eb);
    padding: 30px;
    margin: 16px 0;
}
#introduction h3{
    font-size: 45px;
    color: #19508f;
    font-weight: normal;
}
#introduction p{
    font-size: 25px;
    color: #19508f;
    text-align: justify;
}
.sidebar{
    height: 500px;
    width: 450px;
    border: 1px solid #3eadcf,;
    border-radius: 20px;
    padding: 10px 30px;
}
.sidebar h3{
    color: #19508f;
    font-size: 30px;
}
.sidebar ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #861BBF;
}
.sidebar ul li a:hover, .sidebar ul li a.active{
    text-decoration: none;
    font-size: 23px;
    font-weight: bold;
    color: #b314db;
}
.sidebar ul{
    padding-top: 8px;
}
#leftsidebar{
    float: left;
}
#rightsidebar{
    float: right;
}
#leftsidebar ul li{
    padding: 4px 0 4px 10px;
    list-style-image: url(arrow.png);
}
#rightsidebar ul li{
    padding: 7px 0 7px 19px;
    list-style-image: url(tick.png);
}
.footer{
    height: 60px;
    background: linear-gradient(#abe9cd,#3eadcf);
    padding: 10px 30px;
    margin-top: 15px;
   }